:root {
  --clr-black: #0f0f0f;
  --clr-white: #f1f1f1;
  --clr-bg-black: #0f0f0f;
  --clr-bg-white: #fff;
}

html, body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

.nd-loading {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nd-loading--dark {
  color: var(--clr-white);
  background-color: var(--clr-bg-black);
}

.nd-loading--light {
  color: var(--clr-black);
  background-color: var(--clr-bg-white);
}

.nd-loading img {
  width: 20%;
}

.nd-loading img.nd-rotating {
  animation: nd-loading-spin 2s cubic-bezier(1, 0, 0.5, 1) infinite;
}

@media (min-width: 640px) {
  .nd-loading img {
    width: 10%;
  }
}

@media (min-width: 1024px) {
  .nd-loading img {
    width: 7.5%;
  }
}

@media (min-width: 1536px) {
  .nd-loading img {
    width: 5%;
  }
}

@keyframes nd-loading-spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}