// Tailwind CSS breakpoints - https://tailwindcss.com/docs/screens
$screen-xxl: 1536px;
$screen-xl: 1280px;
$screen-lg: 1024px;
$screen-md: 768px;
$screen-sm: 640px;

$theme-transition: 0.2s ease-out;

:root {
  --clr-black: #0f0f0f;
  --clr-white: #f1f1f1;
  --clr-bg-black: #0f0f0f;
  --clr-bg-white: #fff;
}