@import '_vars';

.nd-nav-link {
  font-size: 1.1rem;
  position: relative;
  color: var(--clr);
  text-decoration: none;
  transition: color $theme-transition;

  &--icon {
    font-size: 1.5rem;
  }

  &:not(.nd-nav-link--icon) {
    &::after {
      content: '';
      position: absolute;
      bottom: -5px;
      display: block;
      background-color: var(--clr);
      height: 2px;
      width: 100%;
      opacity: 0;
      transition: opacity 0.2s ease-out;
      pointer-events: none;
    }

    &:hover, &.router-link-exact-active {
      &::after {
        opacity: 1;
      }
    }
  }
}